<!-- <footer class="footer" style="background-color: #1C1B29;">
    <div class="content has-text-centered has-text-white">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <a href="https://mora-bot.kr" style="text-decoration: none; color: rgb(0, 255, 0);">Mora Bot</a>. All Rights Reserved
          </div>
          <div class="credits">
            Mora Bot 서비스 제공 : <a href="https://hiplay.kr/" style="text-decoration: none; color: rgb(0, 255, 0);">하이플레이NAS</a>
            <p>
              회사명 : 하이플레이<br>
              사업자번호 : 864-27-00702
              대표자 : 김현우 
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="https://mora-bot.kr#intro" class="scrollto"style="text-decoration: none; color: rgb(0, 255, 0);">홈</a>
            <a style="text-decoration: none; color: rgb(0, 255, 0);">|</a>
            <a href="https://mora-bot.kr#about" class="scrollto"style="text-decoration: none; color: rgb(0, 255, 0);">Mora Bot 안내</a>
            <a style="text-decoration: none; color: rgb(0, 255, 0);">|</a>
            <a href="https://mora-bot.kr/policy.html"style="text-decoration: none; color: rgb(0, 255, 0);">이용약관</a>
            <a style="text-decoration: none; color: rgb(0, 255, 0);">|</a>
            <a href="https://mora-bot.kr/privacy.html"style="text-decoration: none; color: rgb(0, 255, 0);">개인정보처리방침</a>
          </nav>
        </div>
      </div>
    </div>
  </footer>

</body>

</html> -->
<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright 2022 <strong><span>Mora Team</span></strong>. All Rights Reserved.
    </div>
  </div>
</footer><!-- End Footer -->